@model EJournalManager.Entity.ChangePassword
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div id="page-content">
    <div id="wrap">
        <div id="page-heading">

            <ol class="breadcrumb">
                <li><a href="#">Users</a></li>
                <li>Change Password</li>
                <!--<li class="active">Horizontal Navigation 1</li>-->
            </ol>

            <h1>Change Password</h1>
            <div class="options">
                <div class="btn-toolbar">
                    <div class="btn-group hidden-xs">
                        <a href='#' class="btn btn-default dropdown-toggle" data-toggle='dropdown'><i class="fa fa-cloud-download"></i><span class="hidden-sm"></span></a><a href="#"></a>
                    </div>
                    <a href="#" class="btn btn-default"><i class="fa fa-cog"></i></a>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>Change Password</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">


                                    @Html.AntiForgeryToken()
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password)

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.NewPassword)
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", maxlength = "15" })
                                        <span class="field-validation-error" style="display: none;" id="spanStrLength_NewPassword">
                                            <span>The New Password must be at least 8 and at most 15 characters long.</span>
                                        </span>
                                        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @id = "spanRegExpres_NewPassword" })

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", maxlength = "15" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)

                                    </div>
                                </div>
                                @*   <div class="col-sm-6 col-sm-offset-3">
                                        <div class="btn-toolbar">
                                            <input type="submit" id="btnSubmit" value="Change Password" class="btn-primary btn" />
                                        </div>
                                    </div>*@


                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="btn-toolbar">
                            <input type="submit" id="btnSubmit" value="Change Password" class="btn-primary btn" />
                            @*<button class="btn-default btn">Cancel</button>*@
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
    <!-- #wrap -->
</div>


<script>
    function fn_isValid(obj) {
        if (($(obj).val().length >= 8) && ($(obj).val().length <= 15)) {
            $("#spanStrLength_" + $(obj).attr("id")).css("display", "none");
            $("#spanRegExpres_" + $(obj).attr("id")).css("display", "block");
            return true;
        }
        else {
            $("#spanStrLength_" + $(obj).attr("id")).css("display", "block");
            $("#spanRegExpres_" + $(obj).attr("id")).css("display", "none");
            return false;
        }
    }

    $(document).ready(function () {
        //set focus to 1st input field
        $("#Password").focus();

        $(document).ready(function () {
            $('#Password').live("paste", function (e) {
                e.preventDefault();
            });
        });

        $("#Password").keypress(function (e) {
            if (e.keyCode == 32) {
                // user has pressed space               
                e.preventDefault();
            }
        });

        //Validate password length as length at least 8 and at most 15 characters long.
        $("#NewPassword").blur(function () {
            fn_isValid(this);
        });

        $('#NewPassword').live("paste", function (e) {
            e.preventDefault();
        });

        $("#NewPassword").keypress(function (e) {
            if (e.keyCode == 32) {
                // user has pressed space               
                e.preventDefault();
            }
        });
    });
</script>
